.vscode
_authortools
/_examples/**/node_modules
*.cache
*.nuget.g.*
obj/
.DS_Store
.directory
/sessions/testdb/
node_modules
package-lock.json
_benchmarks/benchmarker/benchmarker.exe
_benchmarks/benchmarker/platforms
